<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("placeholder.new_micropost") %>
  </div>
  <%= f.submit t("button.post"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.picture.accept %>
  </span>
<% end %>

